# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
.env

# VS Code
.vscode/
!.vscode/tasks.json

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# macOS
.DS_Store
